.DS_Store

# Node
node_modules/
npm-debug.log*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Local secrets / credentials
.env
.env.*
*.pem
*.key

# Python
.venv/
__pycache__/
*.pyc

.env.product-poc

!.env.product-poc.example
